<!-- Scripts -->
<script src="<%= assets %>js/jquery.min.js"></script>
<script src="<%= assets %>js/jquery.cookie.js"></script>
<script src="<%= assets %>js/bootstrap.min.js"></script>
<script src="<%= assets %>js/bootstrap-switch.min.js"></script>
<script src="<%= assets %>js/wow.min.js"></script>
<script src="<%= assets %>js/slidebars.js"></script>
<script src="<%= assets %>js/jquery.bxslider.min.js"></script>
<script src="<%= assets %>js/holder.js"></script>
<script src="<%= assets %>js/buttons.js"></script>
<script src="<%= assets %>js/styleswitcher.js"></script>
<script src="<%= assets %>js/jquery.mixitup.min.js"></script>
<script src="<%= assets %>js/circles.min.js"></script>

<!-- Syntaxhighlighter -->
<script src="<%= assets %>js/syntaxhighlighter/shCore.js"></script>
<script src="<%= assets %>js/syntaxhighlighter/shBrushXml.js"></script>
<script src="<%= assets %>js/syntaxhighlighter/shBrushJScript.js"></script>

<script src="<%= assets %>js/app.js"></script>
